@layout('layouts/main')

@set('title', 'Criar Usuário')

@section('content')

<form action="{{ route('users.store') }}" method="POST">
  {{ csrfField() }}
  <fieldset>
    @!form.input({ title: 'Email', name: 'email', type: 'email' })

    @!form.input({ title: 'Senha', name: 'password', type: 'password' })

    @!form.input({ title: 'Confirme a Senha', name: 'confirm_password', type: 'password' })

    @!form.button({ name: 'Cadastrar' })
  </fieldset>
</form>
@endsection
