<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruralteca</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!component('layouts/partials/header')
  <main>
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{ title }}</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{ subtitle }}</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          @!section('content')
        </div>
      </div>
    </section>
  </main>
  @!component('layouts/partials/footer')
</body>
</html>
