<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruralteca</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <nav>
    <a href="{{ route('videos.index') }}">Videos</a>
  </nav>
  <main>
    <div>
      <h2>{{ title }}</h2>
      @if(subtitle)
        <h3>{{ subtitle }}</h3>
      @endif
    </div>
    @!section('content')
  </main>
</body>
</html>
